asgiref==3.12.1
beautifulsoup4==4.15.0
Django==6.0.7
django-environ==0.14.0
django-htmx==1.28.0
gunicorn==23.0.0
openai==2.52.0
ollama==0.6.2
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.11.0
