<div class="bg-white border-end vh-100 p-3">

    <h5>Menu</h5>

<hr>

<a
    class="d-block mb-2"
    href="/"
>
    Dashboard
</a>

<a
    class="d-block mb-2"
    href="/companies/"
>
    Companies
</a>

<a
    class="d-block mb-2"
    href="#"
>
    Contacts
</a>

<a
    class="d-block mb-2"
    href="{% url 'leads:dashboard' %}"
>
    Lead Dashboard
</a>

<a
    class="d-block mb-2"
    href="{% url 'leads:list' %}"
>
    Leads
</a>

<a
    class="d-block mb-2"
    href="#"
>
    Opportunities
</a>

<a
    class="d-block mb-2"
    href="#"
>
    Tasks
</a>

</div>