<div class="bg-white border-end vh-100 p-3">

    <h5>Menu</h5>

    <hr>


    <!-- Dashboard -->

    <a
        class="d-block mb-2"
        href="/"
    >
        Dashboard
    </a>


    <!-- Companies -->

    <a
        class="d-block mb-2"
        href="/companies/"
    >
        Companies
    </a>


    <!-- Contacts -->

    <a
        class="d-block mb-2"
        href="#"
    >
        Contacts
    </a>


    <!-- Lead Dashboard -->

    <a
        class="d-block mb-2"
        href="{% url 'leads:dashboard' %}"
    >
        Lead Dashboard
    </a>


    <!-- Leads -->

    <a
        class="d-block mb-2"
        href="{% url 'leads:list' %}"
    >
        Leads
    </a>


    <!-- Lead Pipeline -->

    <a
        class="d-block mb-2"
        href="{% url 'leads:pipeline' %}"
    >
        Lead Pipeline
    </a>


    <!-- Opportunities -->

    <a
        class="d-block mb-2"
        href="#"
    >
        Opportunities
    </a>


    <!-- Tasks -->

    <a
        class="d-block mb-2"
        href="#"
    >
        Tasks
    </a>

</div>