<div class="card">

    <div class="card-body">

        <h4>

            Delete Company

        </h4>

        <p>

            Are you sure you want to delete

            <strong>

                {{ company.name }}

            </strong>?

        </p>

        <form

            hx-post="{% url 'companies:delete' company.id %}"

            hx-target="#company-table"

            hx-swap="outerHTML">

            {% csrf_token %}

            <button
                class="btn btn-danger">

                Yes, Delete

            </button>

        </form>

    </div>

</div>