<div>

    <select
        class="form-select form-select-sm"
        name="status"

        hx-post="{% url 'leads:update_status' lead.pk %}"

        hx-trigger="change"

        hx-target="this"

        hx-swap="outerHTML"

    >

        {% for value, label in lead.STATUS_CHOICES %}

            <option
                value="{{ value }}"
                {% if lead.status == value %}
                    selected
                {% endif %}
            >
                {{ label }}
            </option>

        {% endfor %}

    </select>

</div>