{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Dodong OS
        {% endblock %}
    </title>


    <!-- Bootstrap -->

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >


    <!-- HTMX -->

    <script
        src="https://unpkg.com/htmx.org@2.0.6"
    ></script>


    <!-- Custom CSS -->

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

</head>


<body>


    <!-- Navbar -->

    {% include "partials/navbar.html" %}


    <!-- Main Layout -->

    <div class="row">

        <!-- Sidebar -->

        <div class="col-md-2 p-0">

            {% include "partials/sidebar.html" %}

        </div>


        <!-- Content -->

        <div class="col-md-10 p-4">

            {% block content %}

            {% endblock %}

        </div>

    </div>


    <!-- Modal -->

    {% include "components/modal.html" %}


    <!-- Page-specific JavaScript -->

    {% block extra_js %}

    {% endblock %}


    <!-- Lead Selection JavaScript -->

    <script>

        function toggleAllLeads(source) {

            const checkboxes = document.querySelectorAll(
                ".lead-checkbox"
            );

            checkboxes.forEach(function(checkbox) {

                checkbox.checked = source.checked;

            });

        }

    </script>


</body>

</html>